<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<integer>1</integer>
		<key>start</key>
		<string>A</string>
		<key>end</key>
		<string>N1</string>
		<key>lenght</key>
		<integer>5</integer>
		<key>type</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>2</integer>
		<key>start</key>
		<string>N1</string>
		<key>end</key>
		<string>N2</string>
		<key>lenght</key>
		<integer>5</integer>
		<key>type</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>3</integer>
		<key>start</key>
		<string>N2</string>
		<key>end</key>
		<string>B</string>
		<key>lenght</key>
		<integer>5</integer>
		<key>type</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>4</integer>
		<key>start</key>
		<string>B</string>
		<key>end</key>
		<string>N3</string>
		<key>lenght</key>
		<integer>5</integer>
		<key>type</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>5</integer>
		<key>start</key>
		<string>N3</string>
		<key>end</key>
		<string>C</string>
		<key>lenght</key>
		<integer>5</integer>
		<key>type</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>6</integer>
		<key>start</key>
		<string>C</string>
		<key>end</key>
		<string>N4</string>
		<key>lenght</key>
		<integer>5</integer>
		<key>type</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>7</integer>
		<key>start</key>
		<string>N4</string>
		<key>end</key>
		<string>D</string>
		<key>lenght</key>
		<integer>5</integer>
		<key>type</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>8</integer>
		<key>start</key>
		<string>E</string>
		<key>end</key>
		<string>B</string>
		<key>lenght</key>
		<integer>7</integer>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>9</integer>
		<key>start</key>
		<string>B</string>
		<key>end</key>
		<string>F</string>
		<key>lenght</key>
		<integer>12</integer>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>10</integer>
		<key>start</key>
		<string>F</string>
		<key>end</key>
		<string>G</string>
		<key>lenght</key>
		<integer>13</integer>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>11</integer>
		<key>start</key>
		<string>G</string>
		<key>end</key>
		<string>C</string>
		<key>lenght</key>
		<integer>9</integer>
		<key>type</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
